body, a, p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 66);
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
}

li {
    float: left;
    padding: 0 7px 0 7px;
}

html {
    max-height: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 41px 41px;
}
header {
    height: 100px;
    padding: 25px 18px 25px 18px;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    grid-column: 1/2;
}

nav {
    position: relative;
    display: block;
}

#itemGrid {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("i2_2ec824b0.png");
    background-size: 528px 68px;
    background-position: -132px -38px;
    margin-top: -8px;
    opacity: 0.5;
}

#itemGrid:hover {
    opacity: 1;
}

.h_n1 {
    left: 0;
}

.h_n2 {
    float: right;
}

#account {
    margin-top: -13px;
    margin-left: -4px;
    background-color: orange;
    height: 40px;  
    width: 40px;
    border-radius: 50%;
}

main {
    margin-top: -70px;
    padding: 0 25px 0 25px;
    display: grid;
    grid-template-rows: auto auto auto;
    position: relative;
    width: 100%;
    justify-self: center;
    align-self: center;
    justify-items: center;
    align-items: center;
}

#logo {
    width: 272px;
    grid-column: 1/2;
    margin-bottom: 25px;
}

#searchBar{
    padding: 0 0px 0 44px;
    position: relative;
    max-width: 536px;
    width: 100%;
    margin: 0 auto 0 auto;
    border-radius: 22px;
    border: 1px solid lightgray;
    float: left;
}
#mg {
    padding: 12px 0 12px 0;
    left: 12px;
    position: absolute;
    z-index: 3;
    width: 20px;
    opacity: 0.4;
}

#search {
    padding-left: 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    width: 100%;
    height: 44px;


}

#searchBar:hover {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: rgb(196, 196, 196) 0 0 7px 0px ;
}

#searchBar:active {
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: rgb(196, 196, 196) 0 0 7px 0px ;
}

#search:checked #searchBar{
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: rgb(196, 196, 196) 0 0 7px 0px;
}


#mc {
    padding: 10px 0 10px 0px;
    right: 14px;
    margin: 0;
    display: block;
    position: absolute;
    flex: 3;
    z-index: 3;
    height: 24px;
    width: auto;
}

#mc:hover {
    opacity: 0.6;
    cursor: pointer;
}

#buttons {
margin: 30px;
}

button {
    border: solid 1px rgba(0, 0, 0, 0);
    color: rgb(117, 117, 117);
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    margin:0 6px 0 6px;
    float: left;
    padding: 9px 15px 9px 15px;
    font-size: 14px;
}

button:hover {
    color: rgb(59, 59, 59);
    border: solid 1px rgb(173, 173, 173);
    box-shadow: lightgray 0 1px 1px 0px ;
}

#language {
    color: rgb(47, 0, 255);
}

footer {
    line-height: 40px;
    padding:0 18px 0 18px;
    bottom: 0;
    grid-column: 1/2;
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgb(224, 224, 224);
}

footer li {
    padding: 0 13px 0 13px;
}

footer a{
    color: rgb(95, 95, 95);
    font-size: 14px;
}
#country {
    margin-left: 12px;
    color: grey;
    font-size: 15px;
}

.f_n2 {
    float: right;
}

#search:checked {
    background-color: orange;
}